.algo-select {
    font-size: 1.2em;
}

.algo-select input {
    padding: 5px;
    border: 1px solid lightblue;
    border-radius: 5px;

    font-family: inherit;
    font-size: inherit;

    transition: 0.3s all ease-in;
}
.algo-select input:focus {
    outline-width: 0;
    border: 1px solid mediumblue;
}
.algo-select label {
    margin-left: 5px;
    margin-right: 15px;
}
