#form {
    font-size: 1.2em;
}

#form .city-select {
    margin-bottom: 30px;
}

#form .city-select label {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}

#form .city-select input {
    padding: 5px;
    border: 1px solid lightblue;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;

    transition: 0.3s all ease-in;
}
#form .city-select input:focus {
    outline-width: 0;
    border: 1px solid mediumblue;
}

#form .city-select span {
    margin-right: 10px;
}

#form .algo-select {
    margin-bottom: 30px;
}

#form .algo-select label {
    margin-left: 15px;
    margin-right: 15px;
}

#form .algo-select span {
    margin-right: 10px;
}

#form button {
    padding: 10px;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;

    font-size: 1em;
    font-family: inherit;

    transition: 0.3s all ease-in;
}
#form button:hover {
    border: 1px solid mediumblue;
}
