#above-map {
    margin-bottom: 10px;
    padding: 0 10px;
    display: flex;
    font-size: 0.85em;
}

#controls {
    text-align: left;
    width: 50%;
    display: flex;
}

#controls button {
    padding: 10px;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.3s all ease-in;
    margin-right: 20px;
    font-family: inherit;
    font-size: inherit;
}
#controls button:hover {
    border: 1px solid mediumblue;
}
#controls button:focus {
    outline-width: 0;
}

#controls .slider {
    width: 200px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
#controls .slider > label {
    margin-bottom: 10px;
}

#info {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
