#above-map {
    margin-bottom: 10px;
    padding: 0 10px;
    display: flex;
    font-size: 0.8em;
}

#controls {
    text-align: left;
    width: 50%;
}

#controls button {
    padding: 5px;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.3s all ease-in;
    margin-right: 20px;
    font-family: inherit;
}
#controls button:hover {
    border: 1px solid mediumblue;
}
#controls button:focus {
    outline-width: 0;
}

#info {
    width: 50%;
    text-align: right;
}
